/*
---------------------------------------------
header
---------------------------------------------
*/

.header-area {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
	height: 100px;
	@include transition(.3s);

	.main-nav {

		.logo {
            display: flex;
			float: left;
			margin-top: 34px;
			@include transition(.3s);

			img {
                max-height: 45px;
				@include transition(.3s);
			}
		}

		.dark-logo {
			display: none;
		}

		.nav {
			float: right;
			margin-top: 30px;
			@include transition(.3s);

			li {
				margin-left: 35px;

				a {
					display: block;
					@include font($semi, 14px);
					color: #FFFFFF;
					@include transition(.3s);
					height: 36px;
					line-height: 36px;
					border: transparent;

					&:hover {
						color: $textLight;
					}

					&.btn-nav-line {
						padding-left: 25px;
						padding-right: 25px;
						border: 1px solid #FFFFFF;
						@include radius(100px);
						line-height: 34px;
						letter-spacing: 0.5px;
						background: #fff;
						color: $headingDark;

						&:hover {
							background: #fff;
							color: $secondaryColor;
						}
					}

					&.btn-nav-box {
						padding-left: 25px;
						padding-right: 25px;
						border: 1px solid #FFFFFF;
						@include radius(100px);
						line-height: 34px;
						background: #fff;
						color: $headingDark;
						letter-spacing: 0.5px;

						&:hover {
							background: none;
							color: #fff;
						}
					}
				}
			}
		}

		.menu-trigger {
			cursor: pointer;
			display: block;
			position: absolute;
			top: 23px;
			width: 32px;
			height: 40px;
			text-indent: -9999em;
			z-index: 99;
			right: 40px;
			display: none;

			span,
			span:before,
			span:after {
				-moz-transition: all 0.4s;
				-o-transition: all 0.4s;
				-webkit-transition: all 0.4s;
				transition: all 0.4s;
				background-color: $headingDark;
				display: block;
				position: absolute;
				width: 30px;
				height: 2px;
				left: 0;
			}

			span:before,
			span:after {
				-moz-transition: all 0.4s;
				-o-transition: all 0.4s;
				-webkit-transition: all 0.4s;
				transition: all 0.4s;
				background-color: $headingDark;
				display: block;
				position: absolute;
				width: 30px;
				height: 2px;
				left: 0;
				width: 75%;
			}


			span:before,
			span:after {
				content: "";
			}

			span {
				top: 16px;

				&:before {
					-moz-transform-origin: 33% 100%;
					-ms-transform-origin: 33% 100%;
					-webkit-transform-origin: 33% 100%;
					transform-origin: 33% 100%;
					top: -10px;
					z-index: 10;
				}

				&:after {
					-moz-transform-origin: 33% 0;
					-ms-transform-origin: 33% 0;
					-webkit-transform-origin: 33% 0;
					transform-origin: 33% 0;
					top: 10px;
				}
			}

			&.active span,
			&.active span:before,
			&.active span:after {
				background-color: transparent;
				width: 100%;
			}

			&.active span:before {
				-moz-transform: translateY(6px) translateX(1px) rotate(45deg);
				-ms-transform: translateY(6px) translateX(1px) rotate(45deg);
				-webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
				transform: translateY(6px) translateX(1px) rotate(45deg);
				background-color: $headingDark;
			}

			&.active span:after {
				-moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
				-ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
				-webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
				transform: translateY(-6px) translateX(1px) rotate(-45deg);
				background-color: $headingDark;
			}
		}

		.lang {
			float: right;
			margin-top: 30px;
			margin-left: 30px;
			@include transition(.3s);
			//position: relative;

			.selected {
				display: inline-block;
				height: 36px;
				border: 1px solid #fff;
				@include radius(100px);
				padding-left: 15px;
				padding-right: 15px;
				cursor: pointer;
				@include transition(.3s);

				img {
					float: left;
					margin-top: 11px;
					margin-right: 8px;
					@include transition(.3s);
					opacity: .7;
				}

				span {
					float: left;
					height: 36px;
					line-height: 35px;
					@include font($normal, 12px);
					color: #fff;
					margin-right: 5px;
					@include transition(.3s);
				}

				i {
					float: left;
					height: 36px;
					line-height: 35px;
					color: #fff;
					@include transition(.3s);
				}
			}

			.flag-list {
				margin-top: 8px;
				right: 5px;
				display: none;
				box-shadow: 0 1px 18px 10px rgba(0,0,0,0.06);
				position: absolute;

				&:before {
					content: '';
					position: absolute;
					top: -8px;
					left: 0px;
					right: 0px;
					margin: auto;
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 8px solid #fff;
				}

				li {
					overflow: hidden;
					background: #fff;
					border-bottom: 1px solid #CEE1F8;

					&:first-child {
						@include radius(3px 3px 0px 0px);
					}
					&:last-child {
						@include radius(0px 0px 3px 3px);
					}

					a {
						display: block;
						overflow: hidden;
						padding-left: 20px;
						padding-right: 20px;
						background: #fff;
						@include transition(.3s);

						&:hover {
							background: #F3F8FF;
						}

						img {
							float: left;
							margin-top: 7px;
							margin-right: 7px;
							@include transition(.3s);
							box-shadow: 0 1px 18px 0px rgba(0,0,0,0.06);
						}

						span {
							float: left;
							height: 26px;
							line-height: 26px;
							@include font($semi, 12px);
							color: $textDark;
							margin-right: 5px;
							@include transition(.3s);
						}

						i {
							float: left;
							height: 26px;
							line-height: 26px;
							color: $textDark;
							@include transition(.3s);
						}
					}
				}
			}
		}
	}

	&.header-sticky {
		background: #fff;
		height: 80px;
		box-shadow: 0 2px 28px 0 rgba(0,0,0,0.06);

		.logo {
			margin-top: 26px;
		}

		.light-logo {
			display: none;
		}

		.nav {
			margin-top: 22px !important;

			li {
				a {
					color: $headingDark;

					&:hover {
						color: $secondaryColor;
					}

					&.btn-nav-line {
						border: 1px solid $headingDark;
						color: $headingDark;

						&:hover {
							background: $secondaryColor;
							border: 1px solid $secondaryColor;
							color: #fff;
						}
					}

					&.btn-nav-box {
						border: 1px solid $primaryColor;
						background: $primaryColor;
						color: #fff;

						&:hover {
							background: none;
							color: $primaryColor;
						}
					}
				}
			}
		}

		.lang {
			margin-top: 22px !important;

			.selected {
				border: 1px solid $headingDark;

				span, i {
					color: $headingDark;
					@include font($semi, 12px);
				}
			}
		}
	}
}

@media (max-width : 1200px) {
	.header-area {
		.main-nav {
			.nav {
				li {
					margin-left: 15px !important;
				}
			}
		}
	}
}

@media (max-width : 991px) {
	.header-area {
		background: #fff;
		height: 80px;
		box-shadow: 0 2px 28px 0 rgba(0,0,0,0.06);

		.container {
			padding: 0px;
		}

		.logo {
			margin-top: 22px !important;
			margin-left: 30px;
		}

		.light-logo {
			display: none !important;
		}

		.dark-logo {
			display: block !important;
		}

		.menu-trigger {
			display: block !important;
		}

		.main-nav {
			overflow: hidden;

			.nav {
				float: none;
				width: 100%;
				margin-top: 80px !important;
				display: none;
				@include transition(0s);

				li {
					width: 100%;
					margin-left: 15px !important;
					background: #fff;
					margin: 0px !important;
					border-bottom: 1px solid #f5f5f5;

					a {
						height: 50px !important;
						line-height: 50px !important;
						padding: 0px !important;
						padding-left: 30px !important;
						border: none !important;
						background: #fff !important;
						color: $headingDark !important;

						&:hover {
							background: #f5f5f5 !important;
						}
					}
				}
			}

			.lang {
				margin-top: 22px !important;
				margin-left: 0px;
				margin-right: 80px;

				.selected {
					border: 1px solid $headingDark;

					span, i {
						color: $headingDark;
					}
				}

				.flag-list {
					right: 88px;
				}
			}
		}
	}
}

@media (min-width : 992px) {
	.header-area {
		.main-nav {
			.nav {
				display: flex !important;
			}
		}
	}
}
