/*
---------------------------------------------
icons
---------------------------------------------
*/

.gulden-icon {
    background-image: url('../images/gulden.svg');
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
}
