/*
---------------------------------------------
icons
---------------------------------------------
*/

.gulden-icon {
    background-image: url('../images/gulden.svg');
    height: $font-size-base;
    width: $font-size-base;
    display: inline-block;
    vertical-align: initial;
    background-repeat: no-repeat;
    background-size: contain;
}
