/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.gulden-icon {
    background-image: url('../images/gulden.svg');
    height: 0.8em;
    width: 0.8em;
    display: inline-block;
    vertical-align: initial;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Alpine hidden elements */
[x-cloak] {
    display: none !important;
}

/* Hide input type="number" arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /*display: none; !* <- Crashes Chrome on hover *!*/
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Hide input type="number" arrows on Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
