/* State Helpers */
@import "./hover.css";
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.gulden-icon {
    background-image: url('../images/gulden.svg');
    height: 0.8em;
    width: 0.8em;
    display: inline-block;
    vertical-align: initial;
    background-repeat: no-repeat;
    background-size: contain;
}
