/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.munt-icon {
    background-image: url('../images/munt.svg');
    height: 1em;
    width: 1em;
    display: inline-block;
    vertical-align: initial;
    background-repeat: no-repeat;
    background-size: contain;
}

#calendar-tooltip {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    padding: 4px 10px;
    border-radius: 3px;
}

#calendar-tooltip:after {
    display: block;
    position: absolute;
    content: '';
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, .8);
}

/* Alpine hidden elements */
[x-cloak] {
    display: none !important;
}

/* Hide input type="number" arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /*display: none; !* <- Crashes Chrome on hover *!*/
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Hide input type="number" arrows on Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
